<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="admin/inc/header :: admin_header"></th:block>
<!-- Wrapper -->
  <div class="wrapper">
    <!-- Header -->
    <div class="header">
      <th:block th:replace="admin/inc/header_menu :: admin_headermenu"></th:block> 
    </div>
    <!-- //Header -->
    <!-- Content -->
    <div class="content">
    <th:block th:replace="admin/inc/menu :: admin_menu"></th:block>
      <div class="content-body">
        <!-- 페이지 상단 -->
        <div class="content-top">
          <div class="page-title">
            <h3>상세정보</h3>
          </div>
          <div class="top-btns">
            <a class="btn-gray-dark" th:href="@{/admin/server/delete(Id =${server?.id})}" onclick="return confirm('삭제하시겠습니까?');">삭제</a> 
            <button type="button" class="btn-blue" id="save">저장</button>
          </div>
        </div>
        <!-- //페이지 상단 -->
        <form action="/admin/server/save" id="formSave" method="post" enctype="multipart/form-data" >
          <input th:if="${server?.id}" type="hidden" name="id" id="id" th:value="${server?.id}">
          <!-- Input Table -->
          <div class="input-table">
            <div class="input-table-note">
              <span class="require"><em>*</em> 표시는 필수항목입니다. 필히 기입해주세요.</span>
            </div>
            <table>
              <colgroup>
                <col style="width:160px;">
                <col style="width:auto;">
                <col style="width:160px;">
                <col style="width:auto;">
              </colgroup>
              <tbody>
                <tr>
                  <th><span class="require">제목<em>*</em></span></th>
                  <td colspan="3">
                    <div class="input-wrap"><label for="title"><input type="text" name="title" id="title" 
                    th:value="${server?.title}"></label></div> 
                  </td>
                </tr>
                <tr>
                  <th><span class="require">공개 여부<em>*</em></span></th>
                  <td colspan="3">
                    <label for="openStatus1">공개<input type="radio" name="openStatus" id="openStatus1" value=1 
                    th:checked="${server == null or server?.openStatus == 1 }">
                    <label for="openStatus2">비공개<input type="radio" name="openStatus" id="openStatus2" value=2
                     th:checked="${server?.openStatus == 2}"</label> 
                  </td>
                </tr>
                <tr>
                  <th><span class="require">내용<em>*</em></span></th>
                  <td colspan="3">
                    <!-- 에디터 들어갈 영역 -->
                    <textarea id="contents" name="contents" th:text="${server != null} ? ${server.contents}"></textarea>
                    <!-- //에디터 들어갈 영역 -->
                  </td>
                </tr>
                <!-- <tr>
                  <th><span class="require">해시태그<em>*</em></span></th>
                  <td colspan="3">
                    <!-- 해시태그 입력 영역 
                    <div class="input-hash">
                      <div class="form-title">
                        <div class="note">※필히 기사 제목 또는 내용에 맞는 해시태그를 사용하세요.(최대 10개 등록)</div>
                        <div class="btns-group">
                          <button type="button" class="btn-blue">추가</button>
                        </div>
                      </div>
                      <div class="input-wrap">
                        <label for=""><input type="text" name="tagName" id="" th:value="${tag1}" ><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));"><i class="icon-delete"></i></button></label>
                        <label for=""><input type="text" name="tagName" id="" th:value="${tag2}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));;"><i class="icon-delete"></i></button></label>
                        <label for=""><input type="text" name="tagName" id="" th:value="${tag3}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));;"><i class="icon-delete"></i></button></label>
                        <label for=""><input type="text" name="tagName" id="" th:value="${tag4}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));;"><i class="icon-delete"></i></button></label>
                        <label for=""><input type="text" name="tagName" id="" th:value="${tag5}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));"><i class="icon-delete"></i></button></label>
                        <button type="button" class="btn-default btn-delete-row">삭제</button>
                      </div>
                      <div class="input-wrap">
                        <label for=""><input type="text" name="tagName" id=""  th:value="${tag6}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));"><i class="icon-delete"></i></button></label>
                        <label for=""><input type="text" name="tagName" id=""  th:value="${tag7}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));"><i class="icon-delete"></i></button></label>
                        <label for=""><input type="text" name="tagName" id=""  th:value="${tag8}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));"><i class="icon-delete"></i></button></label>
                        <label for=""><input type="text" name="tagName" id=""  th:value="${tag9}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));"><i class="icon-delete"></i></button></label>
                        <label for=""><input type="text" name="tagName" id=""  th:value="${tag10}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));"><i class="icon-delete"></i></button></label>
                        <button type="button" class="btn-default btn-delete-row">삭제</button>
                      </div>
                    </div>
                    <!-- //해시태그 입력 영역 
                  </tr> -->
                  <tr>
                  <th><span class="require">등록된 첨부파일<em>*</em></span></th>
                  <td colspan="3">
                    <!-- <div class="input-wrap" th:each="fileList : ${fileList}">
                      <div th:id="${fileList?.fileId}" class="file">
                        <label for="" >
                        <p th:text="${fileList.filePath}" ></p>
                        <input type="hidden" name="fileId" th:value="${fileList?.fileId}" >
                        <button type="button" class="btn-delete" onclick="fileDel($(this).prev('input'));"><i class="icon-delete"></i></button>
                        </label>
                      </div>
                    </div>  -->
                  </td>
                  </tr>
                  <tr>
                  <th><span class="require">첨부파일<em>*</em></span></th>
                  <td colspan="3">
                    <div class="input-wrap">
                      <div class="file">
                        <input type="file" name="fileName" id=""> 
                        <label for="">
                          <input type="text" readonly>
                          <button type="button" class="btn-delete"><i class="icon-delete"></i></button>
                        </label>
                        <button type="button" class="btn-gray-light btn-find">파일찾기</button>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th><span class="require">첨부파일<em>*</em></span></th>
                  <td colspan="3">
                    <div class="input-wrap">
                      <div class="file">
                        <input type="file" name="fileName" id=""> 
                        <label for="">
                          <input type="text" readonly>
                          <button type="button" class="btn-delete"><i class="icon-delete"></i></button>
                        </label>
                        <button type="button" class="btn-gray-light btn-find">파일찾기</button>
                        <!--<input type="text" th:value=${feedThumbnail} name="feedThumbnail"> -->
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th><span class="require">첨부파일<em>*</em></span></th>
                  <td colspan="3">
                    <div class="input-wrap">
                      <div class="file">
                        <input type="file" name="fileName" id=""> 
                        <label for="">
                          <input type="text" readonly>
                          <button type="button" class="btn-delete"><i class="icon-delete"></i></button>
                        </label>
                        <button type="button" class="btn-gray-light btn-find">파일찾기</button>
                        <!--<input type="text" th:value=${feedThumbnail} name="feedThumbnail"> -->
                      </div>
                    </div>
                  </td>
                </tr>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- //Input Table -->
        </form>
      </div>
    </div>
    <!-- //Content -->
    <!-- Footer -->
    <div class="footer">
      <p class="copyright">Copyright © MAKEIT All rights reserved.</p>
    </div>
    <!-- //Footer -->
    <!-- 팝업영역 -->
    <div class="overlay-area"></div>
    <!-- //팝업영역 -->
  </div>
  <!-- //Wrapper -->
  <!-- <th:block th:replace="admin/inc/footer :: admin_footer"></th:block> -->
<script>

function tagNameDel(name) {
	//var url = "/"+type+"_member";
	if(confirm("태그를 삭제하시겠습니까?")){
		$.ajax({
			async : true,
			type : 'POST',
			data : JSON.stringify({ "tagName": name.val(), "feedId": $("#feedId").val()}),
			url : "/tagNameDel",
			dataType : "json",
			contentType : "application/json; charset=UTF-8",
			success : function(data) {					
			},
			error : function(error) {
				console.log(error);
			}
		});
		name.val("").focus();
	}
}

function fileDel(name) {
	//var url = "/"+type+"_member";
  var id = 	name.val();
  console.log(id);
	if(confirm("첨부파일을 삭제하시겠습니까?")){
		$.ajax({
			async : true,
			type : 'POST',
			data : JSON.stringify({ "id": id}),
			url : "/admin/fileDel",
			dataType : "json",
			contentType : "application/json; charset=UTF-8",
			success : function(data) {	
        if(data.result == 1){
          $("#"+id).remove();
        }				
			},
			error : function(error) {
				console.log(error);
			}
		});
		
	}
}
	

$(function() {
	$('#save').click(function() {
		//oEditors.getById["device_image"].exec("UPDATE_CONTENTS_FIELD", []);
    const formSave = $("#formSave");
    let thumbnail = $(".note-editable").find('img').eq(0).attr("src");    
    let feedId = $("#feedId").val();

    if (thumbnail) {
      formSave.append("<input type=hidden name=feedThumbnail id=feedThumbnail value='"+thumbnail+"'>");
    }
    
    let inputFile = $("input[name=fileName]");
    const match = /[\{\}\[\]\/?,;:|\)*~`!^\-+<>@\#$%&\\\=\(\'\"]/gi;
    
    for(i=0;i < inputFile.length ;i++ ){
      let file = inputFile.eq(i).val();
      file =file.split('\\').pop().split('/').pop();
      if(match.test(file)){
        alert("첨부파일명에는 특수문자가 들어갈 수 없습니다.");
        return;
      }
    }

    let formdata = new FormData(document.getElementById("formSave"));
    let xhr = new XMLHttpRequest();
    const url = "/admin/feed";

    xhr.open(feedId > 0 ? "put" : "post", url);
    xhr.send(formdata);

    xhr.onload = () => {
      if (xhr.status == 200) {
          location.href = url;
      } else if (xhr.status == 500){
          alert("푸시 전송 실패" + this.status);
      }else{
        alert("알수 없는 에러");
      }
    };
	});
});

let toolbar = [
		    // 글꼴 설정
		    ['fontname', ['fontname']],
		    // 글자 크기 설정
		    ['fontsize', ['fontsize']],
		    // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
		    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
		    // 글자색
		    ['color', ['color']],
		    // 표만들기
		    ['table', ['table']],
		    // 글머리 기호, 번호매기기, 문단정렬
		    ['para', ['ul', 'ol', 'paragraph']],
		    // 줄간격
		    ['height', ['height']],
		    // 그림첨부, 링크만들기, 동영상첨부
		    ['insert',['picture','link','video']],
		    // 코드보기, 확대해서보기, 도움말
		    ['view', ['codeview','fullscreen', 'help']]
		  ];

var setting = {
            height : 300,
            minHeight : null,
            maxHeight : null,
            dialogsInBody: true,
            // 에디터에 커서 이동
            focus : true,
            lang : 'ko-KR',
            toolbar : toolbar,
            fontSizes : ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
            fontNames : ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
            //콜백 함수
            callbacks : { 
            	onImageUpload : function(files, editor, welEditable) {
            // 파일 업로드(다중업로드를 위해 반복문 사용)
            for (var i = files.length - 1; i >= 0; i--) {
              uploadSummernoteImageFile(files[i], this, "feed");
            }
          }
        }
      };
      
$('#contents').summernote(setting);

function uploadSummernoteImageFile(file, el, path) {
			data = new FormData();
			data.append("file", file );
      data.append("path", path );
      console.log(file);
			$.ajax({
				data : data,
				type : "POST",
				url : "/uploadImageFile",
				contentType : false,
				enctype : 'multipart/form-data',
				processData : false,
				success : function(data) {
					$(el).summernote('editor.insertImage', data.url);
				}
			});
		}

</script>