<th:block th:fragment="admin_headermenu">
    <h1 class="header-logo"><a href="javascript:;" style="background-image:url(/resources/static/images/admin/logo-header.png);"></a></h1>
 	  <div class="header-menu">
      <ul>
        <!-- <li><a href="javascript:;" title="설문관리"><i class="icon-header vote"></i></a></li>
        <li><a href="javascript:;" title="설정"><i class="icon-header setting"></i></a></li> -->
        <li><a href="/admin/logout" title="로그아웃"><i class="icon-header logout"></i></a></li>
      </ul>
    </div>
</th:block >
</html>