<th:block th:fragment="admin_menu">
<div class="lnb">
	<ul class="depth1">
		<li><a href="/admin/planning/list"><i class="icon-lnb-member"></i>기획</a></li>
		<!-- <li><a href="/admin/publishing/list"><i class="icon-lnb-member"></i>HTML/CSS</a></li> -->
		<li><a href="/admin/frontEnd/list"><i class="icon-lnb-member"></i>JavaScript/Jquery</a></li>
		<li><a href="/admin/backEnd/list"><i class="icon-lnb-member"></i>JAVA/SPRING FRAME WORK</a></li>
		<li><a href="/admin/server/list"><i class="icon-lnb-member"></i>OracleCloud(linux)</a></li>
		<li>
			<a href="javascript:;"><i class="icon-lnb-member"></i>DB</a>
			<ul class="depth2">
				<li><a href="/admin/mariaDB/list">MariaDB(Mysql)</a></li>
				<li><a href="/admin/mongoDB/list">MongoDB(Nosql)</a></li>
			</ul>
		</li>
		<li><a href="/admin/python/list"><i class="icon-lnb-member"></i>Python</a></li>
	</ul>
</div>
</th:block>
</html>