<th:block th:replace="admin/inc/header :: admin_header"></th:block>
<!-- Wrapper -->
  <div class="wrapper">
    <!-- Header -->
    <div class="header">
      <th:block th:replace="admin/inc/header_menu :: admin_headermenu"></th:block> 
    </div>
    <!-- //Header -->
    <!-- Content -->
    <div class="content">
    <th:block th:replace="admin/inc/menu :: admin_menu"></th:block>
      <div class="content-body">
        <!-- 페이지 상단 -->
        <div class="content-top">
          <div class="page-title">
            <h3>상세정보</h3>
          </div>
          <div class="top-btns">
            <a class="btn-gray-dark" th:href="@{/admin/python/delete(Id =${python?.id})}" onclick="return confirm('삭제하시겠습니까?');">삭제</a> 
            <button type="button" class="btn-blue" id="save">저장</button>
          </div>
        </div>
        <!-- //페이지 상단 -->
        <form action="/admin/python/save" id="formSave" method="post" enctype="multipart/form-data" >
          <input th:if="${python?.id}" type="hidden" name="id" id="id" th:value="${python?.id}">
          <!-- Input Table -->
          <div class="input-table">
            <div class="input-table-note">
              <span class="require"><em>*</em> 표시는 필수항목입니다. 필히 기입해주세요.</span>
            </div>
            <table>
              <colgroup>
                <col style="width:160px;">
                <col style="width:auto;">
                <col style="width:160px;">
                <col style="width:auto;">
              </colgroup>
              <tbody>
                <tr>
                  <th><span class="require">제목<em>*</em></span></th>
                  <td colspan="3">
                    <div class="input-wrap"><label for="title"><input type="text" name="title" id="title" 
                    th:value="${python?.title}"></label></div> 
                  </td>
                </tr>
                <!-- <tr>
                  <th><span class="require">썸네일<em>*</em></span></th>
                  <td colspan="3">
                    <div class="input-wrap"><label for="thumbnail"><input type="text" name="thumbnail" id="thumbnail" 
                    th:value="${python?.thumbnail}"></label></div> 
                  </td>
                </tr> -->
                <tr>
                  <th><span class="require">공개 여부<em>*</em></span></th>
                  <td colspan="3">
                    <label for="openStatus1">공개<input type="radio" name="openStatus" id="openStatus1" value=1 
                    th:checked="${python == null or python?.openStatus == 1 }">
                    <label for="openStatus2">비공개<input type="radio" name="openStatus" id="openStatus2" value=2
                     th:checked="${python?.openStatus == 2}"</label> 
                  </td>
                </tr>
                <tr>
                  <th><span class="require">내용<em>*</em></span></th>
                  <td colspan="3">
                    <!-- 에디터 들어갈 영역 -->
                    <textarea id="contents" name="contents" th:text="${python != null} ? ${python.contents}"></textarea>
                    <!-- //에디터 들어갈 영역 -->
                  </td>
                </tr>
                <!-- <tr>
                  <th><span class="require">해시태그<em>*</em></span></th>
                  <td colspan="3">
                    <!-- 해시태그 입력 영역 
                    <div class="input-hash">
                      <div class="form-title">
                        <div class="note">※필히 기사 제목 또는 내용에 맞는 해시태그를 사용하세요.(최대 10개 등록)</div>
                        <div class="btns-group">
                          <button type="button" class="btn-blue">추가</button>
                        </div>
                      </div>
                      <div class="input-wrap">
                        <label for=""><input type="text" name="tagName" id="" th:value="${tag1}" ><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));"><i class="icon-delete"></i></button></label>
                        <label for=""><input type="text" name="tagName" id="" th:value="${tag2}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));;"><i class="icon-delete"></i></button></label>
                        <label for=""><input type="text" name="tagName" id="" th:value="${tag3}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));;"><i class="icon-delete"></i></button></label>
                        <label for=""><input type="text" name="tagName" id="" th:value="${tag4}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));;"><i class="icon-delete"></i></button></label>
                        <label for=""><input type="text" name="tagName" id="" th:value="${tag5}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));"><i class="icon-delete"></i></button></label>
                        <button type="button" class="btn-default btn-delete-row">삭제</button>
                      </div>
                      <div class="input-wrap">
                        <label for=""><input type="text" name="tagName" id=""  th:value="${tag6}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));"><i class="icon-delete"></i></button></label>
                        <label for=""><input type="text" name="tagName" id=""  th:value="${tag7}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));"><i class="icon-delete"></i></button></label>
                        <label for=""><input type="text" name="tagName" id=""  th:value="${tag8}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));"><i class="icon-delete"></i></button></label>
                        <label for=""><input type="text" name="tagName" id=""  th:value="${tag9}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));"><i class="icon-delete"></i></button></label>
                        <label for=""><input type="text" name="tagName" id=""  th:value="${tag10}"><button type="button" class="btn-delete" onclick="tagNameDel($(this).prev('input'));"><i class="icon-delete"></i></button></label>
                        <button type="button" class="btn-default btn-delete-row">삭제</button>
                      </div>
                    </div>
                    <!-- //해시태그 입력 영역 
                  </tr> -->
                  <tr>
                  <th><span class="require">등록된 첨부파일<em>*</em></span></th>
                  <td colspan="3">
                    <div class="input-wrap" th:each="fileList : ${fileList}">
                      <div th:id="${fileList?.id}" class="file">
                        <label for="" >
                          <p th:text="${fileList.filePath}" ></p>
                          <input type="hidden" name="id" th:value="${fileList?.id}" >
                          <button type="button" class="btn-delete" onclick="fileDel($(this).prev('input'));"><i class="icon-delete"></i></button>
                        </label>
                      </div>
                    </div> 
                  </td>
                  </tr>
                  <tr>
                  <th><span class="require">첨부파일<em>*</em></span></th>
                  <td colspan="3">
                    <div class="input-wrap">
                      <div class="file">
                        <input type="file" name="fileName" id=""> 
                        <label for="">
                          <input type="text" readonly>
                          <button type="button" class="btn-delete" onclick="fileDel();"><i class="icon-delete"></i></button>
                        </label>
                        <button type="button" class="btn-gray-light btn-find" onclick="fileOnclickBtn();">파일찾기</button>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th><span class="require">첨부파일<em>*</em></span></th>
                  <td colspan="3">
                    <div class="input-wrap">
                      <div class="file">
                        <input type="file" name="fileName" id="" > 
                        <label for="">
                          <input type="text" readonly>
                          <button type="button" class="btn-delete" onclick="fileDel();"><i class="icon-delete"></i></button>
                        </label>
                        <button type="button" class="btn-gray-light btn-find" onclick="fileOnclickBtn();">파일찾기</button>
                        <!--<input type="text" th:value=${feedThumbnail} name="feedThumbnail"> -->
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th><span class="require">첨부파일<em>*</em></span></th>
                  <td colspan="3">
                    <div class="input-wrap">
                      <div class="file">
                        <input type="file" name="fileName" id=""> 
                        <label for="">
                          <input type="text" readonly>
                          <button type="button" class="btn-delete" onclick="fileDel();"><i class="icon-delete"></i></button>
                        </label>
                        <button type="button" class="btn-gray-light btn-find" onclick="fileOnclickBtn();">파일찾기</button>
                        <!--<input type="text" th:value=${feedThumbnail} name="feedThumbnail"> -->
                      </div>
                    </div>
                  </td>
                </tr>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- //Input Table -->
        </form>
      </div>
    </div>
    <!-- //Content -->
    <!-- Footer -->
    <div class="footer">
      <p class="copyright">Copyright © MAKEIT All rights reserved.</p>
    </div>
    <!-- //Footer -->
    <!-- 팝업영역 -->
    <div class="overlay-area"></div>
    <!-- //팝업영역 -->
  </div>
  <!-- //Wrapper -->