<th:block th:replace="admin/inc/header :: admin_header"></th:block>
<!-- Wrapper -->
  <div class="wrapper">
    <!-- Header -->
    <div class="header">
      <th:block th:replace="admin/inc/header_menu :: admin_headermenu"></th:block>
    </div>
    <!-- //Header -->
    <!-- Content -->
    <div class="content">
      <th:block th:replace="admin/inc/menu :: admin_menu"></th:block>
      <div class="content-body">
        <!-- 페이지 상단 -->
        <div class="content-top">
          <div class="page-title">
            <h3>피드</h3>
          </div>
          <div class="top-btns">
            <a class="btn-blue" href="write">신규등록</a>
           </div>
        </div>
        <!-- //페이지 상단 -->
        <!-- 리스트 -->
        <div class="list-table">
          <div class="list-top">
            <div class="count">
              <!-- <span th:text="|전체 ${listCnt}|"><strong>전체</strong> : </span> -->
            </div>
            <div class="search">
              <i class="icon-search" onclick="fn_search();"></i>
              <input type="search" name="keyword" id="keyword" placeholder="검색어를 입력하세요." th:value="${keyword}">
            </div>
          </div>
          <table>
            <colgroup>
              <col style="width:50px;">
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th><input type="checkbox" name="" id=""></th>
                <th>No</th>
                <th>제목</th>
                <th>등록일</th>
                <!-- <th>수정일</th> -->
                <th>공개여부</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="mariaDbList, i : ${mariaDbList}">
                <td><input type="checkbox" name="" id=""></td>
                <td th:text="${i.count}"></td>
                <td><a th:href="@{list/{Id} (Id =${mariaDbList.Id})}" th:text="${mariaDbList.title}"></a></td>
                <!-- <td th:text="${mariaDbList.insertDate}"></td> -->
                <td th:text="${mariaDbList.updateDate}"></td>
                <td th:text="${mariaDbList.openStatus == 1 } ? '공개' : '비공개'"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <div class="paging">
          <a href="javascript:;" class="btn-paging-prev" th:if="${pagination.prev}" 
          th:onClick="|fn_prev(${pagination.page}, ${pagination.range}, ${pagination.rangeSize})|"></a>
          <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
            <a href="javascript:;" class="on" th:each="idx : ${#numbers.sequence(start, end)}" th:text="${idx}"
            th:onclick="|fn_pagination(${idx}, ${pagination.range}, ${pagination.rangeSize})|"></a>
          </th:block>
          <a href="javascript:;" class="btn-paging-next" th:if="${pagination.next}"
          th:onclick="|fn_next(${pagination.page}, ${pagination.range}, ${pagination.rangeSize})|"></a>
        </div> -->
        <!-- //리스트 -->
        <!-- //리스트 -->
      </div>
    </div>
    <!-- //Content -->
    <!-- Footer -->
    <div class="footer">
      <p class="copyright">Copyright © MAKEIT All rights reserved.</p>
    </div>
    <!-- //Footer -->
    <!-- 팝업영역 -->
    <div class="overlay-area"></div>
    <!-- //팝업영역 -->
  </div>
  <!-- //Wrapper -->
  <!-- <th:block th:replace="admin/inc/footer :: admin_footer"></th:block> -->

  <script> 
    //var searchValue = "${searchValue}";
    var url = "/admin/feed/list";
    //이전 버튼 이벤트
    function fn_prev(page, range, rangeSize) {
      keyword = $("#keyword").val();
      var page = ((range - 2) * rangeSize) + 1;
      var range = range - 1;
      url = url + "?page=" + page;
      url = url + "&range=" + range;
      url = url + "&keyword=" + keyword;
      location.href = url;
  
    }
    //페이지 번호 클릭
    function fn_pagination(page, range, rangeSize, searchType, keyword) {
      keyword = $("#keyword").val();
      url = url + "?page=" + page;
      url = url + "&range=" + range;
      url = url + "&keyword=" + keyword;
      location.href = url;
    }
    //다음 버튼 이벤트
    function fn_next(page, range, rangeSize) {
      keyword = $("#keyword").val();
      var page = parseInt((range * rangeSize)) + 1;
      var range = parseInt(range) + 1;
      url = url + "?page=" + page;
      url = url + "&range=" + range;
      url = url + "&keyword=" + keyword;
      location.href = url;
    }
    
    function fn_search(){
      keyword = $("#keyword").val();
      url = url + "?keyword=" + keyword;
      location.href = url;
    }
    
    $("#keyword").keyup(function(e){if(e.keyCode == 13)  fn_search(); });

    /* function fn_search(){
      searchValue = $("#searchValue").val();
      var searchtype = $("#searchtype option:selected").val();		
      //var url = "${pageContext.request.contextPath}/web_manage/member";
      url = url + "?searchtype=" + searchtype;
      url = url + "&searchValue=" + searchValue;
      location.href = url;
    } */
    
    /* function gettmcode(value) {
      url = url + "?tmcode=" + value;
      location.href = url;
    } */
   
  </script>