<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="inc/head :: head"></th:block>

<body class="is-preload">

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
				<div id="main">
					<div class="inner">

						<!-- Header -->
							<th:block th:replace="inc/head :: header"></th:block>

						<!-- Content -->
							<section>
								<header class="main">
									<h2>Sever</h2>
								</header>
								<div class="posts" >
									<article th:each="serverList : ${serverList}">
										<a class="image">
											<img data-th-if="${serverList?.thumbnail == ''}" src="/resources/static/images/pic06.jpg">
                        					<img data-th-unless="${serverList?.thumbnail == ''}" th:src="${serverList?.thumbnail}" alt=""/>
										</a>
										<a th:href="@{server/{Id} (Id=${serverList.Id})}" class="image">
											<h3 th:text="${serverList.title}"></h3>
										</a>
										<p th:text="${serverList.summary}"></p>
									</article>
								</div>
							</section>
					</div>
				</div>

			<!-- Sidebar -->
			<div id="sidebar">
				<div class="inner">

					<!-- Search -->
						<th:block th:replace="inc/sidebar :: search"></th:block>

					<!-- Menu -->
						<th:block th:replace="inc/sidebar :: menu"></th:block>

					<!-- Section -->
						<th:block th:replace="inc/sidebar :: contact"></th:block>

					<!-- Footer -->
						<th:block th:replace="inc/sidebar :: footer"></th:block>

				</div>
			</div>

		</div>

	<!-- Scripts -->
		<th:block th:replace="inc/footer :: footer"></th:block>

</body>