<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="inc/head :: head"></th:block>

<body class="is-preload">

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
				<div id="main">
					<div class="inner">

						<!-- Header -->
							<th:block th:replace="inc/head :: header"></th:block>

						<!-- Content -->
							<section>
								<header class="main">
									<h2>Java/Spring Frame Work</h2>
								</header>
								<div class="posts">
									<article th:each="backEndList : ${backEndList}">
										<a class="image">
											<img data-th-if="${backEndList?.thumbnail == ''}" src="/resources/static/images/pic02.jpg">
                        					<img data-th-unless="${backEndList?.thumbnail == ''}" th:src="${backEndList?.thumbnail}" alt=""/>
										</a>
										<a th:href="@{backEnd/{Id} (Id=${backEndList.Id})}" class="">
											<h3 th:text="${backEndList.title}"></h3>
										</a>
										<p th:text="${backEndList.summary}"></p>
									</article>
								</div>
							</section>
					</div>
				</div>

			<!-- Sidebar -->
				<div id="sidebar">
					<div class="inner">

						<!-- Search -->
						<th:block th:replace="inc/sidebar :: search"></th:block>

						<!-- Menu -->
							<th:block th:replace="inc/sidebar :: menu"></th:block>

						<!-- Section -->
							<th:block th:replace="inc/sidebar :: contact"></th:block>

						<!-- Footer -->
							<th:block th:replace="inc/sidebar :: footer"></th:block>

					</div>
				</div>

		</div>

	<!-- Scripts -->
		<th:block th:replace="inc/footer :: footer"></th:block>

</body>