<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="inc/head :: head"></th:block>

<body class="is-preload">

	<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
				<div id="main">
					<div class="inner">

						<!-- Header -->
							<th:block th:replace="inc/head :: header"></th:block>

						<!-- Content -->
							<section>
								<header class="main">
									<h2>MariaDB</h2>
								</header>
								<div class="posts" >
									<article th:each="mariaDBList : ${mariaDBList}">
										<a class="image">
											<img data-th-if="${mariaDBList?.thumbnail == ''}" src="/resources/static/images/pic02.jpg">
                        					<img data-th-unless="${mariaDBList?.thumbnail == ''}" th:src="${mariaDBList?.thumbnail}" alt=""/>
										</a>
										<a th:href="@{mariaDB/{Id} (Id=${mariaDBList.Id})}" class="">
											<h3 th:text="${mariaDBList.title}"></h3>
										</a>
										<p th:text="${mariaDBList.summary}"></p>
									</article>
								</div>
							</section>
					</div>
				</div>

			<!-- Sidebar -->
				<div id="sidebar">
					<div class="inner">

						<!-- Search -->
						<th:block th:replace="inc/sidebar :: search"></th:block>

						<!-- Menu -->
							<th:block th:replace="inc/sidebar :: menu"></th:block>

						<!-- Section -->
							<th:block th:replace="inc/sidebar :: contact"></th:block>

						<!-- Footer -->
							<th:block th:replace="inc/sidebar :: footer"></th:block>

					</div>
				</div>

		</div>

	<!-- Scripts -->
		<th:block th:replace="inc/footer :: footer"></th:block>

</body>