<th:block th:replace="admin/inc/header :: admin_header"></th:block>
<!-- Wrapper -->
  <div class="wrapper">
    <!-- Header -->
    <div class="header">
      <th:block th:replace="admin/inc/header_menu :: admin_headermenu"></th:block> 
    </div>
    <!-- //Header -->
    <!-- Content -->
    <div class="content">
    <th:block th:replace="admin/inc/menu :: admin_menu"></th:block>
      <div class="content-body">
        <!-- 페이지 상단 -->
        <div class="content-top">
          <div class="page-title">
            <h3>상세정보</h3>
          </div>
          <div class="top-btns">
            <a class="btn-gray-dark" th:href="@{/admin/backEnd/delete(Id =${backEnd?.id})}" onclick="return confirm('삭제하시겠습니까?');">삭제</a> 
            <button type="button" class="btn-blue" id="save">저장</button>
          </div>
        </div> 
        <!-- //페이지 상단 -->
        <form action="/admin/backEnd/save" id="formSave" method="post" enctype="multipart/form-data" >
          <input th:if="${backEnd?.id}" type="hidden" name="id" id="id" th:value="${backEnd?.id}">
          <!-- Input Table -->
          <div class="input-table">
            <div class="input-table-note">
              <span class="require"><em>*</em> 표시는 필수항목입니다. 필히 기입해주세요.</span>
            </div>
            <table>
              <colgroup>
                <col style="width:160px;">
                <col style="width:auto;">
                <col style="width:160px;">
                <col style="width:auto;">
              </colgroup>
              <tbody>
                <tr>
                  <th><span class="require">제목<em>*</em></span></th>
                  <td colspan="3">
                    <div class="input-wrap"><label for="title"><input type="text" name="title" id="title" 
                    th:value="${backEnd?.title}"></label></div> 
                  </td>
                </tr>
                <!-- <tr>
                  <th><span class="require">썸네일<em>*</em></span></th>
                  <td colspan="3">
                    <div class="input-wrap"><label for="thumbnail"><input type="text" name="thumbnail" id="thumbnail" 
                    th:value="${backEnd?.thumbnail}"></label></div> 
                  </td>
                </tr> -->
                <tr>
                  <th><span class="require">공개 여부<em>*</em></span></th>
                  <td colspan="3">
                    <label for="openStatus1">공개<input type="radio" name="openStatus" id="openStatus1" value=1 
                    th:checked="${backEnd == null or backEnd?.openStatus == 1 }">
                    <label for="openStatus2">비공개<input type="radio" name="openStatus" id="openStatus2" value=2
                     th:checked="${backEnd?.openStatus == 2}"</label> 
                  </td>
                </tr>
                <tr>
                  <th><span class="require">내용<em>*</em></span></th>
                  <td colspan="3">
                    <!-- 에디터 들어갈 영역 -->
                    <textarea id="contents" name="contents" th:text="${backEnd != null} ? ${backEnd.contents}"></textarea>
                    <!-- //에디터 들어갈 영역 -->
                  </td>
                </tr>
                <tr>
                  <th><span class="require">첨부파일1<em>*</em></span></th>
                  <td colspan="3">
                    <div class="input-wrap">
                      <div class="file">
                        <input type="file" name="fileName" id="file1" onchange="fileOnchange('file1','fileText1')"> 
                        <label for="" >
                            <input type="text" th:if="${not #lists.isEmpty(fileList) and #lists.size(fileList) > 0}" th:value="${fileList[0]?.filePath}" id="fileText1">
                            <input type="text" th:unless="${not #lists.isEmpty(fileList) and #lists.size(fileList) > 0}" value="" id="fileText1">
                            <input type="hidden" name="fileId" th:if="${not #lists.isEmpty(fileList) and #lists.size(fileList) > 0}" th:value="${fileList[0]?.id}" >
                            <button type="button" class="btn-delete" onclick="fileDel($(this).prev());">
                              <i class="icon-delete"></i>
                            </button>
                        </label>
                        <button type="button" class="btn-gray-light btn-find" onclick="fileOnclickBtn('file1');">파일찾기</button>
                        <!-- <button type="button" class="btn-gray-light btn-find">파일찾기</button> -->
                      </div>
                    </div> 
                  </td>
                </tr>
                <tr>
                  <th><span class="require">첨부파일2<em>*</em></span></th>
                  <td colspan="3">
                    <div class="input-wrap">
                      <div class="file">
                        <input type="file" name="fileName" id="file2" onchange="fileOnchange('file2')"> 
                        <label for="" >
                          <input type="text" th:if="${not #lists.isEmpty(fileList) and #lists.size(fileList) > 1}" th:value="${fileList[1]?.filePath}">
                          <input type="text" th:unless="${not #lists.isEmpty(fileList) and #lists.size(fileList) > 1}" value="">
                          <input type="hidden" name="fileId" th:if="${not #lists.isEmpty(fileList) and #lists.size(fileList) > 1}" th:value="${fileList[1]?.id}" >
                          <button type="button" class="btn-delete" onclick="fileDel($(this).prev());">
                            <i class="icon-delete"></i>
                          </button>
                        </label>
                        <button type="button" class="btn-gray-light btn-find" onclick="fileOnclickBtn('file2');">파일찾기</button>
                        <!-- <button type="button" class="btn-gray-light btn-find">파일찾기</button> -->
                      </div>
                    </div> 
                  </td>
                </tr>
                <tr>
                  <th><span class="require">첨부파일3<em>*</em></span></th>
                  <td colspan="3">
                    <div class="input-wrap">
                      <div class="file">
                        <input type="file" name="fileName" id="file3" onchange="fileOnchange('file3')"> 
                        <label for="" >
                          <input type="text" th:if="${not #lists.isEmpty(fileList) and #lists.size(fileList) > 2}" th:value="${fileList[2]?.filePath}">
                          <input type="text" th:unless="${not #lists.isEmpty(fileList) and #lists.size(fileList) > 2}" value="">
                          <input type="hidden" name="fileId" th:if="${not #lists.isEmpty(fileList) and #lists.size(fileList) > 2}" th:value="${fileList[2]?.id}" >
                          <button type="button" class="btn-delete" onclick="fileDel($(this).prev());">
                            <i class="icon-delete"></i>
                          </button>
                        </label>
                        <button type="button" class="btn-gray-light btn-find" onclick="fileOnclickBtn('file3');">파일찾기</button>
                        <!-- <button type="button" class="btn-gray-light btn-find">파일찾기</button> -->
                      </div>
                    </div> 
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- //Input Table -->
        </form>
      </div>
    </div>
    <!-- //Content -->
    <!-- Footer -->
    <div class="footer">
      <p class="copyright">Copyright © MAKEIT All rights reserved.</p>
    </div>
    <!-- //Footer -->
    <!-- 팝업영역 -->
    <div class="overlay-area"></div>
    <!-- //팝업영역 -->
  </div>
  <!-- //Wrapper -->