<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

	<th:block th:replace="inc/head :: head"></th:block>

	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<th:block th:replace="inc/head :: header"></th:block>

							<!-- Content -->
								<section>

									<header class="main">
										<h1 th:text="${MongoDB?.title}"></h1>
									</header>

									<div data-th-utext="${MongoDB?.contents}"></div>
								
								</section>

						</div>
					</div>

				<!-- Sidebar -->
				<div id="sidebar">
					<div class="inner">

						<!-- Search -->
							<th:block th:replace="inc/sidebar :: search"></th:block>

						<!-- Menu -->
							<th:block th:replace="inc/sidebar :: menu"></th:block>

						<!-- Section -->
							<th:block th:replace="inc/sidebar :: contact"></th:block>

						<!-- Footer -->
							<th:block th:replace="inc/sidebar :: footer"></th:block>

					</div>
				</div>

			</div>

		<!-- Scripts -->
			<th:block th:replace="inc/footer :: footer"></th:block>

	</body>
</html>